[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ViroReportR"]
	path = ViroReportR
	url = https://github.com/bccdc-phsa/viroreportr
